<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<properties resource="db.properties"></properties> 
 
<settings>
	<setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>  
 
 <typeAliases>
	<typeAlias type="cacao.model.vo.Choose" alias="choose"/>
	<typeAlias type="cacao.model.vo.Deliver" alias="deliver"/>
	<typeAlias type="cacao.model.vo.Info" alias="info"/>
	<typeAlias type="cacao.model.vo.Member" alias="member"/>
	<typeAlias type="cacao.model.vo.Order" alias="order"/>
	<typeAlias type="cacao.model.vo.QA" alias="qa"/>
	<typeAlias type="cacao.model.vo.Service" alias="service"/>	
 </typeAliases>

 <environments default="development">       
 <environment id="development">       
 <transactionManager type="JDBC"/><!-- 커밋을 누가 담당할까 JDBC / MANAGER -->      
 <dataSource type="POOLED"><!-- 컨넥션플을 할까 pooled / unpooled -->          
 <property name="driver" value="${driver}"/>         
 <property name="url" value="${url}"/>         
 <property name="username" value="${username}"/>         
 <property name="password" value="${password}"/>       
 </dataSource>     
 </environment>    
 </environments>   

<!-- 여러개의 mapper 설정 -->

<mappers>     
<mapper resource="cacao/model/mapper/CacaoLoginMapper.xml"/>
<mapper resource="cacao/model/mapper/CacaoMainMapper.xml"/> 
<mapper resource="cacao/model/mapper/CacaoMyPageMapper.xml"/>
<mapper resource="cacao/model/mapper/CacaoYourPageMapper.xml"/> 
<mapper resource="cacao/model/mapper/CacaoOrderMapper.xml"/> 
<mapper resource="cacao/model/mapper/CacaoProductMapper.xml"/>
<mapper resource="cacao/model/mapper/CacaoRegisterMapper.xml"/>
<mapper resource="cacao/model/mapper/CacaoServiceMapper.xml"/> 
<mapper resource="cacao/model/mapper/CacaoAdminMapper.xml"/> 
<!-- <mapper resource="cacao/model/mapper/CacaoIncludeMapper.xml"/>  -->
</mappers>

</configuration> 