<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="mapper.CacaoServiceMapper">    

<select id="selectNotice" parameterType="hashmap" resultType="service">
select *
from service 
where s_kind='곻지사항'
</select>
</mapper> 
 