<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="mapper.CacaoMyPageMapper">    

<select id="selectAll" parameterType="hashmap" resultType="info">
select i_name, i_cost 
from info
where i_id in (select i_id from choose where m_email=#{email})
</select>

<select id="qaList" parameterType="hashmap" resultType="qa">
select q_cate, q_title, q_content, q_status, q_answer
from qa
where m_email=#{email}
</select>
<insert id="insertQA" parameterType="qa">
insert into qa(q_id, m_email, q_cate, q_title, q_content, q_file)
values(SEQ_QA_ID.NEXTVAL, #{mEmail}, #{qCate}, #{qTitle}, #{qContent}, #{qFile})
</insert>
</mapper> 
 