<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="mapper.CacaoAdminMapper">    

<select id="selectAdminLogin" parameterType="hashmap" resultType="int">
select count(*) cnt 
from member 
where m_email=#{mEmail} and m_pwd=#{mPwd} and m_check='T'
</select>

<select id="answerList" parameterType="hashmap" resultType="qa">
select q_id, m_email, q_cate, q_title, q_content, q_status, q_answer 
from qa 
where m_email=#{email} 
order by q_id desc
</select>

<select id="InfoList" parameterType="hashmap" resultType="info">
select *
from info  
order by i_id
</select>

<update id="answerTextList" parameterType="qa">
UPDATE QA 
SET q_status=#{qStatus}, q_answer=#{qAnswer} 
WHERE q_id=#{qId}
</update>
<select id="selectService" parameterType="hashmap" resultType="service">
select * 
from service 
order by s_id desc
</select>
<insert id="serviceInsert" parameterType="service">
insert into 
service(s_id, s_kind, s_cate, s_date, s_title, s_detail) 
values(SEQ_SERVICE_ID.NEXTVAL, #{sKind}, #{sCate}, sysdate, #{sTitle}, #{sDetail})
</insert>
<update id="serviceModify" parameterType="service">
update service 
set s_kind=#{sKind}, s_cate=#{sCate}, s_title=#{sTitle}, s_detail=#{sDetail} 
where s_id=#{sId}
</update>
</mapper> 
 