<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="mapper.CacaoLoginMapper">    

<select id="selectLogin" parameterType="hashmap" resultType="int">
select count(*) cnt 
from member 
where m_email=#{mEmail} and m_pwd=#{mPwd} and m_check='T'
</select>
<select id="findEmail" parameterType="hashmap" resultType="member">
select m_email from member where m_name=#{findNick} and m_birth=#{findBirth}
</select>
<select id="findPwd" parameterType="member" resultType="int">
select count(*) from member where m_email=#{mEmail} and m_name=#{mName} and m_birth=#{mBirth}
</select>
<update id="updatePwd" parameterType="member">
update member set m_pwd = #{mPwd} where m_email=#{mEmail}
</update>
</mapper> 
 